.gallery img{
width: 100%;

}

#menu{
    width: 80%;
    height: 40px;
    background-color: #e494d6;
    padding-top: 12px;
    padding-bottom: 12px;
}

#menu a{
    color: #fcf7f7;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: #e0e5eb;
}

.gallery img{
    transition: transform 0.2s ease;
}
.gallery img:hover{
    transform: scale(1.05);
}