
.gallery{
    width: 50px;
}

h2{
    color: #c03535;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
}

#menu a{
    color: #fafafa;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: #8d5a73;
}

#contact {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    border: 0px;
    font-size: 11px;
}

body{

    
}
